data**
evidence**
qa**
results_vqa**
slurm**
tmp**
triviaqa-rc.tar.gz
**__pycache__**
hf_home/**
hf_model_tmp**
scratch/**
**.joblib
random_model/**

results_hot/**
results_indmed/**
results_renyi/**
results_usmle/**
hf_datasets_tmp/**
tables_**/
results_hot_no_thinking/**
results_indmed_no_thinking/**
table_zip.zip**
**.pt
**.png
results.zip
results_short.zip
tables_hot_renyi_answer.zip
results_math/**
results_math2/**
results_fever/**

analysis/**
results_samples_1k/**
 .vscode/**
mb/
